/* ========================================
Break Point
======================================== */

$pc-xl: 1980px;
$pc-l: 1540px;
$pc: 1366px;
$laptop: 1280px;
$tablet-l: 1100px;
$tablet: 768px;
$sp: 390px;